.tweeter-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100vw;
    background-color: #001f3b;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
}

.avatar {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

@media only screen and (min-width:1024px) {
    .tweeter-header {
        width: 25%;
        float: left;
        margin: 4.5em;
        margin-top:3em;
        padding: 1em;
        height: auto;
    }
}